---
import { Astronav, MenuItems, MenuIcon, StickyHeader } from "astro-navbar";

import Container from "@/components/container.astro";
import Link from "@/components/ui/link.astro";
import Dropdown from "./dropdown.astro";

interface MenuItem {
  title: string;
  path: string;
  children?: MenuItem[];
  badge?: boolean;
}

const menuitems: MenuItem[] = [
  {
    title: "Benefits",
    path: "/#benefits",
  },
  {
    title: "Features",
    path: "/#features",
  },
  {
    title: "Pricing",
    path: "/#pricing",
  },
  {
    title: "Contact",
    path: "mailto:luca@velvetlab.tech",
  },
];
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-sm">
  <Container class="lg:flex justify-between">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="inline-flex items-center gap-4">
          <img src="/logo.png" alt="Zenit logo" class="size-8" />
          <span class="text-slate-600 uppercase tracking-wider">Zenit</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3 items-center">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link
            href="https://app.usezenit.com"
            size="md"
            block
            target="_blank"
            rel="noopener">Log in</Link
          >
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link
          href="https://app.usezenit.com"
          size="md"
          target="_blank"
          rel="noopener">Log in</Link
        >
      </div>
    </div>
  </Container>
</StickyHeader>
