---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Invoice Automation",
    description:
      "Generate and send invoices with zero hassle. Zenit learns your billing cycles and client specifics to automate the entire process.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Bank Synchronization",
    description:
      "Connect Zenit to your bank accounts for real-time updates on your business financials. Our smart system matches transactions to expenses automatically.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Effortless Proposals",
    description:
      "Create compelling proposals quickly using templates tailored to your services and client needs.",
    icon: "bx:bxs-data",
  },
  {
    title: "Intelligent Task Manager",
    description:
      "Never miss a deadline or forget a follow-up with Zenit’s AI-driven task manager, which organizes your schedule efficiently.",
    icon: "bx:bxs-bot",
  },
];
---

<div id="features" class="mt-16 md:mt-36 text-center">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Features</h2>
</div>

<div class="grid sm:grid-cols-2 max-w-screen-md mx-auto mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
