---
import { Image } from "astro:assets";

import dddepthImage from "@/assets/dddepth-323.jpg";
import bg from "@/assets/ooorganize.svg";

// TODO: make these as cards with a micro demo/animation
const ITEMS: { text: string; description: string }[] = [
  {
    text: "Proactive assistance",
    description:
      "Whenever manual input is needed, Zenit doesn’t just tell you what to do — it smartly creates tasks and reminders to ensure nothing falls through the cracks.",
  },
  {
    text: "Human interaction",
    description: "Ask anything to Zenit, don't just push a button.",
  },
  {
    text: "Smart Automation",
    description:
      "Zenit uses advanced AI to automate invoice creation and expenses matching, seamlessly integrating with your bank transactions for up-to-date financials without the manual hassle.",
  },
  {
    text: "Comprehensive Management",
    description:
      "From drafting stunning proposals to generating detailed invoices and tracking every expense, Zenit is your all-in-one solution for managing the financial aspects of your business.",
  },
];
---

<section
  class="max-w-4xl mx-auto flex flex-col items-center justify-center mt-24 mb-36 relative">
  <Image
    src={bg}
    alt="dddepth from https://fffuel.co/dddepth"
    class="absolute w-full left-0 top-0 -z-10"
  />
  <h2
    class="text-4xl/normal lg:text-5xl/tight font-bold lg:tracking-tight mt-4 text-center bg-gradient-to-r from-purple-500 to-pink-600 bg-clip-text text-transparent">
    Running a business<br />shouldn't be hard.
  </h2>
  <p class="mt-4 text-lg text-slate-600 text-center [text-wrap:pretty]">
    Welcome to Zenit, the cutting-edge platform designed specifically for
    freelancers and small business owners. With Zenit, you can streamline your
    daily operations by automating routine tasks such as invoicing, bank
    transactions, and expense management. Experience a new level of efficiency
    and focus more on what matters most — growing your business.
  </p>
</section>

<div id="benefits" class="grid md:grid-cols-2 py-10 relative">
  <div class="grid place-items-center mx-10">
    <Image
      src={dddepthImage}
      alt="dddepth from https://fffuel.co/dddepth"
      class="rounded-3xl"
    />
  </div>

  <div class="grid items-start justify-center">
    <div class="max-w-lg">
      <h2
        class="text-3xl/normal lg:text-4xl/tight font-medium lg:tracking-tight bg-gradient-to-r from-zinc-900 to-zinc-500 to-50% text-transparent bg-clip-text inline-block">
        Key benefits
      </h2>
    </div>

    <ul class="mt-6 space-y-8">
      {
        ITEMS.map((item) => (
          <li class="border border-zinc-100 shadow-[inset_0_-12px_40px] shadow-slate-100/70 backdrop-blur-sm rounded-lg px-6 py-5">
            <span class="font-medium bg-gradient-to-r from-zinc-900 to-zinc-500 to-50% text-transparent bg-clip-text mb-2 inline-block">
              {item.text}
            </span>
            <p class="text-sm text-zinc-700">{item.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</div>
